@import './../node_modules/normalize.css/normalize.css';

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

body,
html,
#root {
  font-family: 'Proxima Nova', 'Proxima', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-size: 16px;

  font-weight: 200;
  line-height: 1.5;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --navy: #001f3f;
  --blue: #0074d9;
  --aqua: #7fdbff;
  --teal: #39cccc;
  --olive: #3d9970;
  --green: #2ecc40;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --black: #111111;
}
